@using System.Globalization
@using System.Security.Policy
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using BitNetServices.Alpa.EHS.Common.Models
@using BitNetServices.Alpa.EHS.Web
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject IViewLocalizer Localizer

@model BitNetServices.Alpa.EHS.Web.Tenant.Models.DashboardViewModel

@{
    Layout = "_DashboardLayout";
}



<div class="clearfix"></div>
<!-- /top tiles -->
<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            Coming Soon
        </div>
    </div>   
</div>

